{
  "env": {
    "lib": {
      "presets": ["react", "es2015", "stage-1"],
      "plugins": [
        [
          "babel-plugin-webpack-loaders",
          {
            "config": "./webpack.config.lib.js",
            "verbose": false,
          }
        ]
      ]
    },
    "test": {
      "presets": ["react", "es2015", "stage-1"],
    }
  }
}
